/* General container */
.register-container {
    max-width: 400px;
    margin: 0 auto;
    padding: 2rem;
    text-align: center;
}

/* Form and input fields */

.register-form input {
    width: 100%;
    padding: 0.75rem;
    margin: 0.5rem 0;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 1rem;
  }
  
.submit-btn {
    width: 100%;
    padding: 0.75rem;
    background-color: #d3d3d3;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
}

.submit-btn:hover {
    background-color: #2993AD;
}